Repository hsandir/agendaiq, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, configuration, testing, database, security, dependencies, ci-cd, performance

.github/labeler.yml:

# Configuration for GitHub labeler action

# Frontend labels
frontend:
  - src/components/**/*
  - src/app/**/*.tsx
  - src/styles/**/*
  - '*.css'
  - '*.scss'

# Backend labels
backend:
  - src/app/api/**/*
  - src/lib/auth/**/*
  - src/lib/db/**/*
  - prisma/**/*

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*

# Configuration
configuration:
  - .github/**/*
  - .env.example
  - next.config.*
  - tsconfig.json
  - package.json
  - .eslintrc.*
  - .prettierrc.*

# Testing
testing:
  - src/__tests__/**/*
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - jest.config.*
  - playwright.config.*

# Database
database:
  - prisma/**/*
  - src/lib/prisma.ts

# Security
security:
  - src/lib/auth/**/*
  - src/lib/utils/rate-limit.ts
  - src/middleware.ts

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock

# CI/CD
ci-cd:
  - .github/workflows/**/*
  - .github/actions/**/*

# Performance
performance:
  - src/lib/utils/cache.ts
  - src/lib/utils/performance.ts
  - '**/*optimization*'

Implement advanced API rate limiting with monitoring and Redis support
  package-lock.json
  package.json
  src/app/api/admin/rate-limits/route.ts
  src/components/admin/rate-limit-monitor.tsx
  src/lib/utils/rate-limit-advanced.ts
Labels: frontend, backend, configuration, dependencies

Add comprehensive CI/CD error monitoring and auto-fix system
  src/app/api/dev/ci-cd/autofix/route.ts
  src/app/api/dev/ci-cd/runs/route.ts
  src/app/dashboard/development/page.tsx
  src/components/development/ci-cd-monitor.tsx
Labels: frontend, backend

Fix CI/CD monitor console errors and add mock data support
  src/app/api/dev/ci-cd/autofix/route.ts
  src/app/api/dev/ci-cd/runs/route.ts
  src/components/development/ci-cd-monitor.tsx
Labels: frontend, backend

Fix 'Body is disturbed or locked' error in CI/CD monitor
  scripts/test-github-connection.js
  src/components/development/ci-cd-monitor.tsx
Labels: frontend

Remove authentication requirement from development CI/CD endpoints
  src/app/api/dev/ci-cd/autofix/route.ts
  src/app/api/dev/ci-cd/runs/route.ts
Labels: backend

Fix CI/CD monitor API authentication and validation errors
  src/app/api/dev/ci-cd/runs/route.ts
  src/middleware.ts
Labels: backend, security

Fix runtime errors in CI/CD monitor and test dashboard
  src/components/development/ci-cd-monitor.tsx
  src/middleware.ts
Labels: frontend, security

Add comprehensive auto-fix system with progress tracking for CI/CD and test failures
  src/app/api/tests/history/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/tests/suites/route.ts
  src/components/development/autofix-modal.tsx
  src/components/development/ci-cd-monitor.tsx
  src/components/development/test-dashboard.tsx
Labels: frontend, backend

Implement real autofix execution system with command runner
  src/app/api/dev/ci-cd/autofix/route.ts
  src/app/api/dev/execute/route.ts
  src/components/development/autofix-modal.tsx
Labels: frontend, backend

Fix autofix modal scrolling and test output display
  package-lock.json
  src/app/api/tests/run/route.ts
  src/components/development/autofix-modal.tsx
Labels: frontend, backend, dependencies

Fix dashboard layout and Sentry configuration errors
  public/sw.js
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/dashboard/page.tsx
Labels: frontend

Implement comprehensive Git Operations dashboard
  package-lock.json
  src/app/api/dev/git/branches/route.ts
  src/app/api/dev/git/commits/route.ts
  src/app/api/dev/git/execute/route.ts
  src/app/api/dev/git/status/route.ts
  src/app/dashboard/development/page.tsx
  src/components/development/git-operations.tsx
Labels: frontend, backend, dependencies

Fix scrolling in autofix modal
  src/app/globals.css
  src/components/development/autofix-modal.tsx
Labels: frontend
