Repository hsandir/agendaiq, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, testing, documentation, configuration, ci/cd, dependencies, security, ui/ux, api, performance, feature, dev-tools

HOTFIX 4: Fix remaining deployment-blocking syntax errors
  scripts/create-sample-teams.js
  src/app/api/auth/create-first-admin/route.ts
  src/app/api/debug/db-performance/route.ts
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/dev/ci-cd/runs/route.ts
  src/app/api/dev/database/seed-dev/route.ts
  src/app/dashboard/teams-v2/TeamsPageClient.tsx
  src/app/dashboard/teams-v2/page.tsx
  src/components/teams-v2/TeamCard.tsx
Labels: frontend, backend, security, api, feature, dev-tools

HOTFIX 5: Final syntax error corrections
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/dev/metrics/route.ts
  src/app/api/district/setup/route.ts
  src/app/api/errors/route.ts
  src/app/api/meetings/history/route.ts
  src/app/dashboard/teams-v2/[id]/TeamDetailClient.tsx
  src/app/dashboard/teams-v2/[id]/page.tsx
  src/components/teams-v2/CreateTeamModal.tsx
Labels: frontend, backend, api, feature

HOTFIX 6: Final deployment preparation
  .gitignore
  eslint.config.mjs
  scripts/fix-unsafe-type-casting.js
  src/app/api/system/server-metrics/route.ts
  src/app/api/system/server/route.ts
Labels: frontend, backend, api, dev-tools

Fix all critical syntax errors and type casting issues
  .gitignore
  next.config.mjs
  scripts/build-without-v2.sh
  scripts/safe-file-ops.sh
  src/app/api/auth/debug-logs/route.ts
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/school/route.ts
  src/app/api/setup/route.ts
  src/app/api/system/mock-data-scan/route.ts
  src/app/api/teams-v2/[id]/members/route.ts
  src/app/api/teams-v2/[id]/route.ts
  src/app/api/teams-v2/route.ts
  src/app/api/test-login/route.ts
  src/app/api/tests/history/route.ts
  src/app/api/user/change-password/route.ts
  src/app/api/user/profile/route.ts
  src/app/dashboard/development/permissions-check/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/meeting-intelligence/analytics/page.tsx
  src/app/dashboard/page.tsx
  src/components/auth/AuthProvider.tsx
  src/lib/auth/admin-check.ts
  src/lib/auth/api-auth.ts
  src/lib/auth/auth-options.ts
Labels: frontend, backend, security, api, feature, dev-tools

Add .vercelignore to reduce deployment size
  .vercelignore
Labels: none

WIP: Uncommitted changes before fixing hydration error
  .claude/eslint-fix-agent.js
  .claude/eslint-fix-agent.out
  .claude/run-checks.sh
  .claude/start-agents.sh
  .claude/validation-agent.out
  .claude/validation-agent.pid
  src/app/dashboard/meetings/new/page.tsx
  src/components/meetings/MeetingFormStep1.tsx
  src/components/meetings/MeetingLiveView.tsx
Labels: frontend, feature

Fix production build errors and remove Pages Router files
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/app/dashboard/meetings/new/page.tsx
  src/components/meetings/MeetingFormStep1.tsx
  src/pages/_document.tsx
Labels: frontend, feature

Fix theme system type safety while preserving CSS functionality
  src/lib/theme/theme-provider.tsx
Labels: backend

Fix agenda item management issues
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/app/api/meetings/[id]/route.ts
  src/components/meetings/MeetingFormStep1.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/components/ui/date-time-picker.tsx
Labels: frontend, backend, ui/ux, api

Fix CSS variables missing at build time
  src/app/globals.css
Labels: frontend, ui/ux

Remove debug script and add dotenv dependency
  package-lock.json
  package.json
  scripts/check-user-auth.ts
Labels: configuration, dependencies, dev-tools

Trigger deployment to fix CSS issue
  README.md
Labels: documentation

Temporarily disable Sentry to fix CSS issues in production
  next.config.mjs
  package-lock.json
Labels: configuration, dependencies

Fix PostCSS configuration for Tailwind CSS in production
  next.config.mjs
  postcss.config.mjs
Labels: none

Fix Tailwind CSS production build issues
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/globals.css
  vercel.json
Labels: frontend, configuration, dependencies, ui/ux

Restore original PostCSS configuration and handle Sentry expiration
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  vercel.json
Labels: configuration, dependencies

Remove all Sentry dependencies to fix blank page issue
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/not-found.tsx
  src/components/error-boundary.tsx
  src/instrumentation.ts
  src/lib/theme/theme-provider.tsx
Labels: frontend, backend, configuration, dependencies

Complete Sentry removal to fix application
  instrumentation-client.ts
  package-lock.json
  sentry.edge.config.ts
  sentry.server.config.ts
  src/lib/sentry/sentry-utils.ts
Labels: backend, configuration, dependencies

Fix critical runtime errors
  next.config.mjs
  src/__tests__/api/monitoring/build-metrics.test.ts
  src/__tests__/api/monitoring/errors.test.ts
  src/app/api/monitoring/error-stats/route.ts
  src/app/api/monitoring/errors/route.ts
  src/app/api/monitoring/release-health/route.ts
  src/app/api/test-sentry/route.ts
  src/components/error-boundary.tsx
  src/lib/monitoring/config.ts
  src/lib/monitoring/index.ts
  src/lib/monitoring/providers/sentry.ts
  src/lib/sentry/server-error-handler.ts
  src/lib/theme/theme-provider.tsx
Labels: frontend, backend, testing, api

Replace Sentry with PostHog for monitoring and analytics
  .cursor/rules/posthog-integration.mdc
  instrumentation-client.ts
  next.config.mjs
  next.config.ts
  package-lock.json
  package.json
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/lib/monitoring/config.ts
  src/lib/monitoring/index.ts
  src/lib/monitoring/providers/posthog.ts
  src/lib/posthog/posthog-provider.tsx
  src/lib/posthog/posthog-utils.ts
  src/lib/sentry/sentry-utils.ts
Labels: frontend, backend, configuration, dependencies, feature

Enhance agenda page UX - auto-show new item form, minimize existing items
  src/components/meetings/AgendaItemForm.tsx
  src/components/meetings/AgendaItemsEditor.tsx
Labels: frontend

Fix meeting notes functionality
  .claude/validation-agent.pid
  src/app/api/meetings/[id]/notes/route.ts
  src/app/auth/signin/page.tsx
  src/app/dashboard/monitoring/monitoring-client.tsx
  src/app/dashboard/system/page.tsx
  src/components/auth/SignInForm.tsx
  src/components/auth/two-factor-form.tsx
  src/components/meetings/MeetingDetails.tsx
  src/components/monitoring/PostHogAnalytics.tsx
  src/lib/posthog/posthog-provider.tsx
Labels: frontend, backend, security, api, feature

Fix debug page text visibility issue
  package-lock.json
  src/app/auth/debug/page.tsx
  src/components/monitoring/ErrorMonitor.tsx
Labels: frontend, configuration, dependencies, security, feature

Fix production authentication issues - make debug endpoint accessible without auth for troubleshooting
  package-lock.json
  package.json
  src/__tests__/unit/components/error-boundary.test.tsx
  src/__tests__/unit/components/tabs.test.tsx
  src/__tests__/unit/components/theme-selector.test.tsx
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/health/route.ts
  src/app/api/monitoring/live-logs/route.ts
  src/app/api/monitoring/posthog-metrics/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/tests/suites/route.ts
  src/app/dashboard/DashboardLayoutClient.tsx
  src/app/dashboard/debug/page.tsx
  src/app/dashboard/development/client.tsx
  src/app/dashboard/monitoring/monitoring-client.tsx
  src/app/layout.tsx
  src/components/dashboard/MobileMenu.tsx
  src/components/dashboard/Sidebar.tsx
  src/components/debug/DebugInitializer.tsx
  src/components/development/test-dashboard.tsx
  src/components/layout/SidebarItems.ts
  src/components/monitoring/PostHogAnalytics.tsx
  src/components/monitoring/local-monitor.tsx
  src/components/ui/tabs.tsx
  src/lib/auth/auth-options.ts
  src/lib/auth/auth-utils-ultra-fast.ts
  src/lib/debug/error-tracker.ts
  src/middleware.ts
  test-results.json
Labels: frontend, backend, testing, configuration, dependencies, security, ui/ux, api, feature, dev-tools

Fix debug page test results text visibility - add explicit text colors
  src/__tests__/unit/components/tabs.test.tsx
  src/app/api/monitoring/error-issues/route.ts
  src/app/api/monitoring/posthog-metrics/route.ts
  src/app/auth/debug/page.tsx
  src/app/dashboard/tests/page.tsx
  src/components/monitoring/PostHogAnalytics.tsx
  src/middleware.ts
  test-results.json
Labels: frontend, backend, testing, configuration, security, api, feature

Remove test-results.json file
  test-results.json
Labels: configuration

auth(guards): add server requireAuth layout for system section; api(debug-logs): guard DELETE with withAuth DEV_DEBUG
  .claude/agent.out
  src/app/api/auth/debug-logs/route.ts
  src/app/dashboard/system/layout.tsx
Labels: frontend, backend, security, api, feature

security(rbac): refactor dynamic-rbac to RoleKey/capability checks (isRole/can) and remove title/priority heuristics
  src/lib/security/dynamic-rbac-full.ts
Labels: backend, security

auth(policy): prefer RoleKey checks over RoleID in isDevAdmin/isOpsAdmin (align with canonical RoleKey model)
  src/lib/auth/policy.ts
Labels: backend, security

validation-server: add auth compliance scan endpoint (forbidden patterns, page guards, API withAuth checks)
  validation-server/server.js
Labels: none

api(admin/assign-role): add withAuth USER_MANAGE and fix request parsing/type safety; worklog updated
  src/app/api/admin/assign-role/route.ts
Labels: frontend, backend, api

api(admin/roles/[id]): add withAuth ROLE_MANAGE; fix param/body parsing; worklog updated
  src/app/api/admin/roles/[id]/route.ts
Labels: frontend, backend, api

api(admin/toggle-role): add withAuth ROLE_MANAGE and harden body parsing; worklog updated
  src/app/api/admin/toggle-role/route.ts
Labels: frontend, backend, api

api(debug/auth-check): add withAuth DEV_DEBUG; worklog updated
  src/app/api/debug/auth-check/route.ts
Labels: frontend, backend, api

api(debug/db-performance): add withAuth DEV_DEBUG and use authenticated user; worklog updated
  src/app/api/debug/db-performance/route.ts
Labels: frontend, backend, api

api(meetings/search): switch to withAuth MEETING_VIEW and return organizer.roleKey; worklog updated
  src/app/api/meetings/search/route.ts
Labels: frontend, backend, api

api(errors,error-capture): add withAuth OPS_MONITORING and unify responses; worklog updated
  src/app/api/error-capture/route.ts
  src/app/api/errors/route.ts
Labels: frontend, backend, api

api(internal/audit): add withAuth OPS_LOGS; worklog updated
  src/app/api/internal/audit/route.ts
Labels: frontend, backend, api

auth: remove title/priority from policy types; refactor dynamic-rbac to RoleKey/capability; secure github/* monitoring/* system/status with withAuth
  src/app/api/github/runs/route.ts
  src/app/api/github/workflows/route.ts
  src/app/api/monitoring/deployments/route.ts
  src/app/api/monitoring/live-logs/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/app/api/monitoring/posthog-metrics/route.ts
  src/app/api/monitoring/real-time-errors/route.ts
  src/app/api/system/status/route.ts
  src/lib/auth/policy.ts
  src/lib/security/dynamic-rbac-full.ts
Labels: frontend, backend, security, api

auth: secure system/update (DEV_UPDATE), mock-data-scan (DEV_MOCKDATA), lint-errors (DEV_LINT); tests/run,suites (DEV_DEBUG); schools/[id] with Capability.SCHOOL_MANAGE
  src/app/api/schools/[id]/route.ts
  src/app/api/system/lint-errors/route.ts
  src/app/api/system/mock-data-scan/route.ts
  src/app/api/system/update/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/tests/suites/route.ts
  validation-server/server.js
Labels: frontend, backend, api

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# https://github.com/actions/labeler

# Frontend changes
frontend:
  - src/components/**/*
  - src/app/**/*
  - src/styles/**/*
  - '*.css'
  - '*.scss'

# Backend changes  
backend:
  - src/app/api/**/*
  - src/lib/**/*
  - prisma/**/*
  - src/server/**/*

# Database changes
database:
  - prisma/**/*
  - '**/migrations/**/*'

# Testing changes
testing:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - src/__tests__/**/*
  - jest.config.*
  - playwright.config.*

# Documentation changes
documentation:
  - '**/*.md'
  - docs/**/*
  - README.md
  - CONTRIBUTING.md
  - LICENSE

# Configuration changes
configuration:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - tsconfig.json
  - next.config.js
  - tailwind.config.js
  - postcss.config.js

# CI/CD changes
ci/cd:
  - .github/**/*
  - .gitlab-ci.yml
  - Dockerfile
  - docker-compose.yml

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
  - pnpm-lock.yaml

# Security changes
security:
  - src/lib/auth/**/*
  - src/middleware.ts
  - '**/auth/**/*'
  - '**/security/**/*'

# UI/UX changes
ui/ux:
  - src/components/ui/**/*
  - src/app/globals.css
  - '**/styles/**/*'

# API changes
api:
  - src/app/api/**/*
  - '**/route.ts'
  - '**/route.js'

# Performance
performance:
  - '**/*.performance.ts'
  - '**/*.perf.ts'
  - src/lib/utils/performance/**/*

# Feature additions
feature:
  - src/features/**/*
  - src/app/**/page.tsx
  - src/app/**/layout.tsx

# Bug fixes - manual label needed

# Development tools
dev-tools:
  - src/components/development/**/*
  - src/app/dashboard/development/**/*
  - scripts/**/*
