Repository hsandir/agendaiq, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, testing, documentation, configuration, ci/cd, dependencies, security, ui/ux, api, performance, feature, dev-tools

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# https://github.com/actions/labeler

# Frontend changes
frontend:
  - src/components/**/*
  - src/app/**/*
  - src/styles/**/*
  - '*.css'
  - '*.scss'

# Backend changes  
backend:
  - src/app/api/**/*
  - src/lib/**/*
  - prisma/**/*
  - src/server/**/*

# Database changes
database:
  - prisma/**/*
  - '**/migrations/**/*'

# Testing changes
testing:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - src/__tests__/**/*
  - jest.config.*
  - playwright.config.*

# Documentation changes
documentation:
  - '**/*.md'
  - docs/**/*
  - README.md
  - CONTRIBUTING.md
  - LICENSE

# Configuration changes
configuration:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - tsconfig.json
  - next.config.js
  - tailwind.config.js
  - postcss.config.js

# CI/CD changes
ci/cd:
  - .github/**/*
  - .gitlab-ci.yml
  - Dockerfile
  - docker-compose.yml

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
  - pnpm-lock.yaml

# Security changes
security:
  - src/lib/auth/**/*
  - src/middleware.ts
  - '**/auth/**/*'
  - '**/security/**/*'

# UI/UX changes
ui/ux:
  - src/components/ui/**/*
  - src/app/globals.css
  - '**/styles/**/*'

# API changes
api:
  - src/app/api/**/*
  - '**/route.ts'
  - '**/route.js'

# Performance
performance:
  - '**/*.performance.ts'
  - '**/*.perf.ts'
  - src/lib/utils/performance/**/*

# Feature additions
feature:
  - src/features/**/*
  - src/app/**/page.tsx
  - src/app/**/layout.tsx

# Bug fixes - manual label needed

# Development tools
dev-tools:
  - src/components/development/**/*
  - src/app/dashboard/development/**/*
  - scripts/**/*

Fix Remember Me functionality for persistent sessions
  src/lib/auth/auth-options.ts
  src/lib/utils/rate-limit.ts
Labels: backend, security

Replace legacy requireAdmin with capability-based authentication
  src/app/api/debug/check-user/route.ts
  src/app/api/github/runs/route.ts
  src/app/api/github/workflows/route.ts
  src/app/api/user/custom-theme/route.ts
  src/app/api/user/layout/route.ts
  src/app/api/user/theme/route.ts
  src/app/dashboard/settings/admin/page.tsx
  src/app/dashboard/settings/audit-logs/page.tsx
  src/app/dashboard/settings/backup/page.tsx
  src/app/dashboard/settings/meeting-permissions/page.tsx
  src/app/dashboard/settings/meeting-templates/page.tsx
  src/app/dashboard/settings/monitoring/page.tsx
  src/app/dashboard/settings/permissions/page.tsx
  src/app/dashboard/settings/system/page.tsx
  src/lib/auth/auth-utils-fast.ts
  src/lib/utils/rate-limit.ts
  test-api-performance.js
Labels: frontend, backend, security, api, feature

Fix admin flags - only admin@school.edu is system admin
  src/app/api/debug/check-user/route.ts
Labels: frontend, backend, api

Add .trash to gitignore
  .gitignore
  .trash/archive/settings-admin-20250810-192546/page.tsx
Labels: none

Add comprehensive auth debug system for production troubleshooting
  .gitignore
  TEMP_PRODUCTION_LOGIN_FIX.md
  check_all_passwords.js
  package-lock.json
  response.txt
  src/app/api/auth/debug-logs/route.ts
  src/app/api/monitoring/build-metrics/route.ts
  src/app/api/monitoring/deployments/route.ts
  src/app/api/monitoring/pipelines/route.ts
  src/app/api/user/custom-theme/route.ts
  src/app/api/user/layout/route.ts
  src/app/api/user/theme/route.ts
  src/app/auth/debug/page.tsx
  src/app/dashboard/DashboardLayoutClient.tsx
  src/app/dashboard/development/permissions-check/page.tsx
  src/app/dashboard/monitoring/monitoring-client.tsx
  src/components/auth/SignInForm.tsx
  src/components/dashboard/HiddenSidebar.tsx
  src/components/layout/SidebarItems.ts
  src/lib/auth/auth-options.ts
  src/middleware.ts
  src/types/next-auth.d.ts
  supabase_auth_test.txt
  supabase_migration.sql
  supabase_test_results.txt
Labels: frontend, backend, documentation, configuration, dependencies, security, api, feature, dev-tools

Fix TypeScript errors and complete auth debug system
  src/__tests__/fixtures/factory.ts
  src/__tests__/helpers/test-db.ts
  src/__tests__/integration/auth/auth-flow.test.ts
  src/__tests__/integration/auth/login.test.tsx
  src/__tests__/integration/auth/register.test.tsx
  src/__tests__/integration/auth/two-factor.test.tsx
  src/__tests__/integration/meeting-creation.test.ts
  src/__tests__/performance/api.perf.test.ts
  src/__tests__/types/factory.types.ts
  src/__tests__/utils/test-utils.tsx
  src/app/api/auth/register/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/error-capture/route.ts
  src/app/dashboard/DashboardLayoutClient.tsx
  src/app/dashboard/meeting-intelligence/action-items/page.tsx
  src/app/dashboard/meeting-intelligence/role-tasks/page.tsx
  src/app/dashboard/meeting-intelligence/search/page.tsx
  src/app/dashboard/meetings/new/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/settings/audit/page.tsx
  src/app/dashboard/settings/setup/page.tsx
  src/app/dashboard/settings/staff-upload/StaffUploadClient.tsx
  src/app/dashboard/settings/system/SystemSettingsClient.tsx
  src/app/dashboard/system/dependencies/page.tsx
  src/app/dashboard/system/health-overview/page.tsx
  src/app/dashboard/system/lint/page.tsx
  src/app/dashboard/system/page.tsx
  src/components/monitoring/local-monitor.tsx
  src/lib/logging/transports/database-transport.ts
Labels: frontend, backend, testing, security, api, feature

Remove old pages that were incorrectly restored
  .trash/archive/monitoring-cicd-20250810-230555/page.tsx
  .trash/archive/settings-admin-20250810-192546/page.tsx
  SUPABASE_TEST_REPORT.txt
  TEMP_SUPABASE_MIGRATION.md
  check_env_vars.js
  check_prod_user.js
  check_prod_user2.js
  check_prod_user3.js
  dev-server.log
  docs/completed/COMPLETED_TODOS.md
  docs/completed/SENTRY_IMPLEMENTATION_TASKS.md
  fix_prod_admin.js
  fix_production_session.sh
  prod_cookies.txt
  prod_cookies_new.txt
  prod_test_cookies.txt
  setup_prod_admin.js
  src/app/api/test-login/route.ts
  src/app/dashboard/settings/roles/page.tsx
  src/app/dashboard/settings/users/page.tsx
  supabase_push.log
  temp-work/README.md
  test_local_auth.js
  test_prod_auth.js
  update_prod_users.js
Labels: frontend, backend, documentation, api, feature

Fix React key warning in debug page by using React.Fragment
  src/app/auth/debug/page.tsx
Labels: frontend, security, feature

Fix build errors - correct Role capitalization and hasCapability imports
  src/app/api/auth/create-first-admin/route.ts
  src/app/api/monitoring/build-metrics/route.ts
  src/app/api/monitoring/deployments/route.ts
  src/app/api/monitoring/pipelines/route.ts
Labels: frontend, backend, security, api

Fix hasPassword field references to hashedPassword in create-first-admin route
  src/app/api/auth/create-first-admin/route.ts
Labels: frontend, backend, security, api

Fix async headers and cookies in Next.js 15
  src/app/api/auth/debug-logs/route.ts
Labels: frontend, backend, security, api

Fix TypeScript type error with null vs undefined
  src/app/api/auth/debug-logs/route.ts
Labels: frontend, backend, security, api

Fix TypeScript arithmetic operation error
  src/app/api/auth/debug-logs/route.ts
Labels: frontend, backend, security, api

Fix TypeScript type assignments in auth-check route
  src/app/api/debug/auth-check/route.ts
Labels: frontend, backend, api

Remove non-existent buildMetrics table reference
  src/app/api/monitoring/build-metrics/route.ts
Labels: frontend, backend, api

Fix TypeScript error in health metrics object
  src/app/api/monitoring/health/route.ts
Labels: frontend, backend, api

Fix multiple build errors across the codebase
  src/app/api/monitoring/health/route.ts
  src/app/api/user/custom-theme/route.ts
  src/app/api/user/layout/route.ts
  src/lib/auth/auth-utils-fast.ts
  src/lib/logging/transports/database-transport.ts
Labels: frontend, backend, security, api

Fix parseInt issues in theme route
  src/app/api/user/theme/route.ts
Labels: frontend, backend, api

Fix all TypeScript errors in debug and admin pages
  src/app/auth/debug/page.tsx
  src/app/dashboard/admin/create-first-admin/page.tsx
Labels: frontend, security, feature

Fix remaining ReactNode type errors
  src/app/auth/debug/page.tsx
Labels: frontend, security, feature

Fix user type in DashboardLayoutClient
  src/app/dashboard/DashboardLayoutClient.tsx
Labels: frontend

Fix AuthRequirements interface usage
  src/app/dashboard/admin/create-first-admin/page.tsx
Labels: frontend, feature

Fix all TypeScript errors comprehensively - NO SKIPPING
  package-lock.json
  package.json
  src/__tests__/fixtures/factory.ts
  src/app/dashboard/admin/create-first-admin/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/meeting-intelligence/action-items/page.tsx
  src/app/dashboard/meeting-intelligence/role-tasks/page.tsx
  src/app/dashboard/meeting-intelligence/search/page.tsx
  src/app/dashboard/meetings/new/page.tsx
  src/app/dashboard/system/dependencies/page.tsx
  src/app/dashboard/system/health-overview/page.tsx
  src/components/admin/CreateFirstAdminForm.tsx
Labels: frontend, testing, configuration, dependencies, feature

Backup: Fixed all 110 TypeScript errors and added error resolution policy
  .claude/agents/typescript-lint-enforcer.md
  CLAUDE.md
  src/__tests__/fixtures/factory.ts
  src/__tests__/helpers/msw-handlers.ts
  src/__tests__/integration/auth/register.test.tsx
  src/__tests__/integration/auth/two-factor.test.tsx
  src/__tests__/performance/api.perf.test.ts
  src/__tests__/types/factory.types.ts
  src/__tests__/unit/api/admin-routes.test.ts
  src/__tests__/unit/middleware/middleware-chain.test.ts
  src/__tests__/unit/theme/theme-system.test.tsx
  src/app/api/admin/audit-logs/export/route.ts
  src/app/api/admin/roles/route.ts
  src/app/api/auth/create-admin/route.ts
  src/app/api/auth/debug-logs/route.ts
  src/app/api/auth/forgot-password/route.ts
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/dev/ci-cd/autofix/route.ts
  src/app/api/dev/ci-cd/runs/route.ts
  src/app/api/dev/database/backups/route.ts
  src/app/api/dev/database/seed-dev/route.ts
  src/app/api/dev/execute/route.ts
  src/app/api/dev/git/branches/route.ts
  src/app/api/dev/git/commits/route.ts
  src/app/api/dev/git/execute/route.ts
  src/app/api/dev/git/status/route.ts
  src/app/dashboard/meetings/new/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/settings/audit/page.tsx
  src/app/dashboard/settings/staff-upload/StaffUploadClient.tsx
  src/app/dashboard/system/dependencies/page.tsx
  src/app/dashboard/system/lint/page.tsx
  src/components/auth/RegisterForm.tsx
  src/components/monitoring/WebVitalsReporter.tsx
Labels: frontend, backend, testing, documentation, security, api, feature

Continue fixing ESLint errors: More any types and unused variables
  src/app/api/dev/stats/route.ts
  src/app/api/github/runs/route.ts
  src/app/api/github/workflows/route.ts
  src/app/api/health/route.ts
  src/app/api/internal/audit/route.ts
  src/app/api/meeting-intelligence/action-items/[id]/route.ts
  src/app/api/meeting-intelligence/action-items/route.ts
  src/app/api/meeting-intelligence/analytics/route.ts
  src/app/api/meeting-intelligence/continuity/route.ts
  src/app/api/meeting-intelligence/role-tasks/route.ts
  src/app/api/meeting-intelligence/search/route.ts
  src/app/api/meetings/history/route.ts
  src/app/api/meetings/search/suggestions/route.ts
  src/app/api/monitoring/build-metrics/route.ts
  src/app/api/monitoring/deployments/route.ts
  src/app/api/monitoring/error-stats/route.ts
  src/app/api/monitoring/errors/route.ts
Labels: frontend, backend, api

Major progress on ESLint errors: Fixed high-impact files
  src/app/api/system/backup/route.ts
  src/app/api/system/error-fix/route.ts
  src/app/api/system/lint-errors/route.ts
  src/components/meetings/AgendaItemDetail.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/lib/monitoring/providers/sentry.ts
Labels: frontend, backend, api

Fix TypeScript explicit any types across critical API routes and components
  src/app/api/monitoring/metrics/route.ts
  src/app/api/monitoring/pipelines/route.ts
  src/app/api/monitoring/production-errors-admin/route.ts
  src/app/api/monitoring/real-time-errors/route.ts
  src/app/api/monitoring/release-health/route.ts
  src/app/api/roles/hierarchy/route.ts
  src/app/api/roles/route.ts
  src/app/api/school/route.ts
  src/app/api/staff/upload/route.ts
  src/app/api/system/database/route.ts
  src/app/api/system/fix/route.ts
  src/app/api/system/health-check/route.ts
  src/app/api/system/update/route.ts
  src/components/auth/TwoFactorSetup.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/auth/withAuth.tsx
  src/components/dashboard/DashboardContent.tsx
Labels: frontend, backend, security, api

Update to numeric RoleKey system and partial ESLint fixes
  .claude/MASTER_RULES.md
  .claude/agents/plop-snippet-transition.md
  .cursorrules
  CLAUDE.md
  src/app/api/dev/git/status/route.ts
  src/app/api/github/workflows/route.ts
  src/app/api/health/route.ts
  src/app/api/meeting-intelligence/analytics/route.ts
  src/app/api/meeting-templates/[id]/route.ts
  src/app/api/meeting-templates/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/comments/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/api/system/error-fix/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/user/profile/route.ts
  src/app/auth/forgot-password/page.tsx
  src/app/auth/signin/page.tsx
  src/app/dashboard/DashboardLayoutClient.tsx
  src/app/dashboard/meeting-intelligence/action-items/page.tsx
  src/app/dashboard/meeting-intelligence/search/page.tsx
  src/app/dashboard/meetings/new/page.tsx
  src/app/dashboard/settings/audit-logs/AuditLogsClient.tsx
  src/app/dashboard/settings/permissions/page.tsx
  src/components/auth/withAuth.tsx
  src/components/dashboard/DashboardContent.tsx
  src/components/meetings/RepeatMeetingModal.tsx
  src/lib/theme/theme-provider.tsx
Labels: frontend, backend, documentation, security, api, feature

Fix 92 any type errors in monitoring and type files
  src/app/api/dev/execute/route.ts
  src/app/api/dev/git/execute/route.ts
  src/app/api/meeting-intelligence/continuity/route.ts
  src/components/meetings/RepeatMeetingModal.tsx
  src/components/monitoring/WebVitalsReporter.tsx
  src/components/monitoring/enhanced-live-monitor.tsx
  src/components/monitoring/live-monitor.tsx
  src/components/monitoring/local-monitor.tsx
  src/components/monitoring/production-monitor.tsx
  src/hooks/usePusher.ts
  src/lib/audit/audit-logger.ts
  src/lib/monitoring/config.ts
  src/lib/monitoring/error-analyzer.ts
  src/lib/monitoring/global-error-tracker.ts
  src/lib/monitoring/index.ts
  src/lib/monitoring/providers/sentry.ts
  src/lib/monitoring/types.ts
  src/lib/theme/theme-provider.tsx
  src/lib/theme/theme-store.ts
  src/lib/utils/cache.ts
  src/lib/utils/debug-logger.ts
  src/lib/utils/sanitization.ts
  src/middleware.ts
  src/types/index.ts
Labels: frontend, backend, security, api

Fix additional type errors in API routes and components
  src/__tests__/fixtures/factory.ts
  src/app/api/dev/git/execute/route.ts
  src/app/api/dev/git/status/route.ts
  src/app/api/meeting-intelligence/role-tasks/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/api/monitoring/pipelines/route.ts
  src/app/api/monitoring/real-time-errors/route.ts
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/components/meetings/MeetingCalendar.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/components/monitoring/local-monitor.tsx
  src/components/monitoring/production-monitor.tsx
  src/hooks/usePusher.ts
  src/lib/monitoring/providers/sentry.ts
  src/lib/theme/theme-provider.tsx
  src/middleware.ts
Labels: frontend, backend, testing, security, api, feature

Fix middleware TypeScript errors
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/middleware.ts
Labels: frontend, security

Fix critical TypeScript compilation errors
  package-lock.json
  package.json
  prisma/schema.prisma
  src/__tests__/fixtures/factory.ts
  src/app/api/debug/db-performance/route.ts
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/api/meetings/route.ts
  src/app/api/monitoring/real-time-errors/route.ts
  src/app/api/system/error-fix/route.ts
  src/app/api/system/lint-errors/route.ts
  src/app/api/user/layout/route.ts
  src/app/api/user/theme/route.ts
  src/app/dashboard/meetings/MeetingsPageClient.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/app/dashboard/meetings/new/page.tsx
  src/components/development/database-performance.tsx
  src/components/development/performance-monitor.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/lib/auth/api-auth.ts
  src/lib/auth/auth-options.ts
  src/lib/auth/auth-utils-ultra-fast.ts
Labels: frontend, backend, database, testing, configuration, dependencies, security, api, feature, dev-tools

Fix critical TypeScript errors and improve performance
  scripts/create-test-user.ts
  src/app/api/debug/db-performance/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/auth/error/page.tsx
  src/lib/auth/auth-options.ts
  vercel-deployment-guide.md
Labels: frontend, backend, documentation, security, api, feature, dev-tools

Add strict TypeScript rules and fix remaining type errors
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/create-test-user.ts
  src/app/api/debug/db-performance/route.ts
  src/app/api/roles/hierarchy/route.ts
  src/app/api/school/route.ts
  src/app/api/staff/upload/route.ts
  src/lib/auth/auth-options.ts
  src/lib/monitoring/error-analyzer.ts
  src/lib/monitoring/providers/sentry.ts
  tsconfig.json
Labels: frontend, backend, configuration, dependencies, security, api, dev-tools

Fix TypeScript errors: reduced from 74 to 45 errors
  VERCEL_PRODUCTION_ENV.md
  src/app/api/system/backup/route.ts
  src/app/api/system/update/route.ts
  src/app/api/user/layout/route.ts
  src/app/api/user/theme/route.ts
  src/app/auth/error/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/app/dashboard/meetings/new/page.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/dashboard/DashboardContent.tsx
  src/components/development/performance-monitor.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/hooks/usePusher.ts
  src/lib/auth/auth-options.ts
  src/lib/auth/auth-utils-ultra-fast.ts
  src/lib/monitoring/providers/sentry.ts
  src/lib/theme/theme-provider.tsx
  src/lib/theme/theme-store.ts
  src/lib/utils/sanitization.ts
  vercel-env-setup.md
Labels: frontend, backend, documentation, security, api, feature, dev-tools

Fix ESLint configuration and improve type safety in tests
  .gitignore
  eslint.config.mjs
  src/__tests__/api/monitoring/build-metrics.test.ts
  src/__tests__/api/monitoring/deployments.test.ts
  src/app/api/meetings/[id]/route.ts
  src/app/api/user/layout-fast/route.ts
  src/app/api/user/layout/route.ts
  src/app/api/user/theme-fast/route.ts
  src/app/api/user/theme/route.ts
  src/app/dashboard/meetings/[id]/agenda/[itemId]/page.tsx
  src/app/dashboard/meetings/[id]/agenda/page.tsx
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/settings/audit-logs/page.tsx
  src/components/development/api-performance-test.tsx
  src/components/development/performance-monitor.tsx
  src/components/meetings/AgendaItemComments.tsx
  src/components/meetings/AgendaItemDetail.tsx
  src/components/meetings/AgendaItemForm.tsx
  src/components/meetings/AgendaItemsEditor.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/lib/auth/auth-utils-ultra-fast.ts
  src/lib/monitoring/providers/sentry.ts
  src/types/meeting.ts
  templates/api-fast-template.ts
  templates/cursor-templates/component-template.tsx
  tsconfig.eslint.json
  tsconfig.json
Labels: frontend, backend, testing, configuration, security, api, feature, dev-tools

Work in progress: ESLint warning fixes - backup commit
  .claude/README.md
  .claude/agent.out
  .claude/validation-status.json
  .gitignore
  archive/README.md
  fix-eslint-warnings.js
  src/__tests__/unit/middleware/middleware-chain.test.ts
  src/__tests__/utils/test-utils.tsx
  src/app/api/admin/assign-role/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/components/development/performance-monitor.tsx
  src/types/index.ts
  templates/cursor-templates/README.md
Labels: frontend, backend, testing, documentation, api, dev-tools

HOTFIX: Critical syntax errors blocking deployment
  src/app/api/admin/audit-logs/high-risk/route.ts
  src/app/api/admin/roles/[id]/route.ts
  src/app/api/admin/roles/init/route.ts
  src/app/api/admin/toggle-role/route.ts
  src/app/api/auth/admin-users/route.ts
Labels: frontend, backend, security, api

HOTFIX 2: More critical syntax errors for deployment
  .claude/validation-status.json
  src/app/api/admin/toggle-role/route.ts
  src/app/api/auth/admin-users/route.ts
  src/app/api/auth/check-first-user/route.ts
  src/app/api/auth/create-admin/route.ts
  src/app/api/auth/create-first-admin/route.ts
  src/components/monitoring/live-monitor.tsx
Labels: frontend, backend, security, api

HOTFIX 3: Final syntax errors for deployment
  .claude/validation-status.json
  .gitignore-v2
  src/app/api/auth/2fa/disable/route.ts
  src/app/api/auth/admin-users/route.ts
  src/app/api/auth/create-first-admin/route.ts
  src/app/api/auth/debug-logs/route.ts
  src/app/api/auth/signup/route.ts
Labels: frontend, backend, security, api
