Repository hsandir/agendaiq, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, testing, documentation, configuration, ci/cd, dependencies, security, ui/ux, api, performance, feature, dev-tools

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# https://github.com/actions/labeler

# Frontend changes
frontend:
  - src/components/**/*
  - src/app/**/*
  - src/styles/**/*
  - '*.css'
  - '*.scss'

# Backend changes  
backend:
  - src/app/api/**/*
  - src/lib/**/*
  - prisma/**/*
  - src/server/**/*

# Database changes
database:
  - prisma/**/*
  - '**/migrations/**/*'

# Testing changes
testing:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - src/__tests__/**/*
  - jest.config.*
  - playwright.config.*

# Documentation changes
documentation:
  - '**/*.md'
  - docs/**/*
  - README.md
  - CONTRIBUTING.md
  - LICENSE

# Configuration changes
configuration:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - tsconfig.json
  - next.config.js
  - tailwind.config.js
  - postcss.config.js

# CI/CD changes
ci/cd:
  - .github/**/*
  - .gitlab-ci.yml
  - Dockerfile
  - docker-compose.yml

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
  - pnpm-lock.yaml

# Security changes
security:
  - src/lib/auth/**/*
  - src/middleware.ts
  - '**/auth/**/*'
  - '**/security/**/*'

# UI/UX changes
ui/ux:
  - src/components/ui/**/*
  - src/app/globals.css
  - '**/styles/**/*'

# API changes
api:
  - src/app/api/**/*
  - '**/route.ts'
  - '**/route.js'

# Performance
performance:
  - '**/*.performance.ts'
  - '**/*.perf.ts'
  - src/lib/utils/performance/**/*

# Feature additions
feature:
  - src/features/**/*
  - src/app/**/page.tsx
  - src/app/**/layout.tsx

# Bug fixes - manual label needed

# Development tools
dev-tools:
  - src/components/development/**/*
  - src/app/dashboard/development/**/*
  - scripts/**/*

Fix critical syntax errors blocking homepage
  src/app/dashboard/page-selection/page.tsx
  src/lib/auth/auth-options.ts
Labels: frontend, backend, security, feature

Fix remaining critical syntax errors for dashboard
  src/app/dashboard/DashboardLayoutClient.tsx
  src/components/dashboard/HiddenSidebar.tsx
Labels: frontend

Safe manual progress: Manual fixes reduced errors from 192 to 170
  validate-and-fix.js
  zero-degradation-system.js
Labels: none

feat: Implement Zero Degradation System with FileLocal Agent coordination
  check_lock.sh
  lock_file.sh
  src/app/api/staff/role-assignments/route.ts
  src/app/api/staff/route.ts
  src/app/api/teams/[id]/knowledge/route.ts
  src/app/api/teams/[id]/route.ts
  src/components/meetings/AgendaItemLive.tsx
  src/components/meetings/MeetingActionItems.tsx
  src/components/meetings/MeetingDetails.tsx
  src/components/meetings/RepeatMeetingModal.tsx
  src/components/settings/RoleManagementForm.tsx
  src/components/teams/AddMemberDialog.tsx
  src/components/teams/TeamKnowledge.tsx
  src/components/ui/tabs.tsx
  unlock_file.sh
Labels: frontend, backend, ui/ux, api

feat: Complete Staff API Performance Optimization & System Stabilization
  lib/agents/usage-examples.ts
  src/app/api/admin/roles/[id]/route.ts
  src/app/api/admin/roles/init/route.ts
  src/app/api/auth/2fa/disable/route.ts
  src/app/api/auth/2fa/verify/route.ts
  src/app/api/health/route.ts
  src/app/api/monitoring/pipelines/route.ts
  src/app/api/staff/route.ts
  src/app/api/teams/[id]/knowledge/route.ts
  src/app/globals.css
  src/components/teams/AddMemberDialog.tsx
  src/components/ui/tabs.tsx
  src/lib/auth/auth-options.ts
  src/lib/auth/field-access-middleware.ts
  src/lib/email/service.ts
  src/lib/logging/audit-logger.ts
  src/lib/logging/dev-logger.ts
  src/lib/logging/index.ts
  src/lib/logging/transports/database-transport.ts
  src/lib/logging/transports/file-transport.ts
  src/lib/logging/transports/realtime-transport.ts
  src/lib/meeting-intelligence/action-items.ts
  src/lib/meeting-intelligence/analytics.ts
  src/lib/meeting-intelligence/continuity.ts
  src/lib/meeting-intelligence/role-based.ts
  src/lib/meeting-intelligence/search.ts
  src/lib/security/csrf.ts
  src/lib/security/rate-limit-monitor.ts
  src/lib/teams/schema-adapter.ts
  src/lib/testing/test-generator.ts
  src/lib/utils/rate-limit-advanced.ts
Labels: frontend, backend, security, ui/ux, api

Fix Teams Knowledge Base edit and share functionality
  lib/agents/usage-examples.ts
  src/__tests__/integration/auth/auth-flow.test.ts
  src/__tests__/unit/api/admin-routes.test.ts
  src/__tests__/unit/auth/policy.test.ts
  src/__tests__/unit/components/SignInForm.test.tsx
  src/__tests__/utils/next-navigation-mocks.ts
  src/__tests__/utils/prisma-mocks.ts
  src/app/api/auth/create-admin/route.ts
  src/app/api/auth/create-first-admin/route.ts
  src/app/api/auth/debug-logs/route.ts
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/debug/db-performance/route.ts
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/teams/[id]/knowledge/route.ts
  src/app/api/test-login/route.ts
  src/app/dashboard/teams/[id]/page.tsx
  src/components/teams/CreateKnowledgeDialog.tsx
  src/components/teams/TeamKnowledge.tsx
  src/components/theme/theme-selector.tsx
  src/components/ui/error-boundary.tsx
Labels: frontend, backend, testing, security, ui/ux, api, feature

Add temporary admin password update endpoint for production testing
  src/__tests__/unit/components/SignInForm.test.tsx
  src/__tests__/unit/theme/theme-system.test.tsx
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/dev/admin/update-password/route.ts
  src/app/api/dev/ci-cd/autofix/route.ts
  src/app/api/dev/execute/route.ts
  src/app/api/dev/git/execute/route.ts
  src/app/api/dev/git/status/route.ts
  src/app/api/dev/stats/route.ts
  src/app/api/devices/[id]/route.ts
  src/app/api/devices/route.ts
  src/app/api/district/setup/route.ts
  src/app/api/email/send/route.ts
  src/app/api/email/test/route.ts
  src/app/api/error-capture/route.ts
  src/app/api/internal/audit/route.ts
  src/app/api/meeting-intelligence/action-items/route.ts
  src/app/api/meeting-intelligence/analytics/route.ts
  src/app/api/meeting-templates/[id]/route.ts
  src/app/api/meeting-templates/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/attachments/route.ts
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/api/meetings/history/route.ts
  src/app/api/meetings/route.ts
  src/app/api/monitoring/error-issues/route.ts
  src/app/api/monitoring/live-logs/route.ts
  src/app/api/monitoring/performance/route.ts
  src/app/api/monitoring/real-time-errors/route.ts
  src/app/api/monitoring/uptime/route.ts
  src/app/api/pusher/auth/route.ts
  src/components/auth/SignInForm.tsx
  src/lib/auth/public-routes.ts
Labels: frontend, backend, testing, security, api

Fix admin password endpoint field names
  src/app/api/dev/admin/update-password/route.ts
Labels: frontend, backend, api

Add production database backup endpoint
  src/app/api/dev/database/backup-production/route.ts
  src/app/api/pusher/auth/route.ts
  src/app/api/roles/department-assignments/route.ts
  src/app/api/roles/route.ts
  src/app/api/school/route.ts
  src/app/api/schools/[id]/route.ts
  src/app/api/schools/route.ts
  src/app/api/setup/route.ts
  src/lib/auth/public-routes.ts
Labels: frontend, backend, security, api

fix: Complete meeting API error resolution and deployment preparation
  src/app/api/meetings/[id]/attendees/[attendeeId]/route.ts
  src/app/api/meetings/[id]/attendees/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/api/setup/route.ts
  src/app/api/system/backup/route.ts
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/components/meetings/MeetingAttendeeManager.tsx
Labels: frontend, backend, api

fix: Standardize NEXTAUTH_SECRET format and remove outdated NEXTAUTH_URL
  src/app/api/system/health-check/route.ts
  src/app/api/system/lint-errors/route.ts
  src/app/api/system/server-metrics/route.ts
  src/app/api/system/settings/route.ts
  src/app/api/system/status/route.ts
  src/app/api/system/update/route.ts
  src/app/api/test-login/route.ts
  src/app/api/tests/history/route.ts
  src/app/api/tests/run/route.ts
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
Labels: frontend, backend, api, feature

feat: Fix NEXTAUTH_SECRET hex format validation
  src/app/api/debug/user-check/route.ts
  src/middleware.ts
Labels: frontend, backend, security, api

feat: Complete systematic authentication debugging with enhanced production diagnostics
  final_cookies.txt
  production_cookies.txt
  production_cookies_v2.txt
  src/app/api/auth/debug-logs/route.ts
  src/app/api/debug/user-check/route.ts
  src/app/api/meetings/[id]/history/route.ts
  src/app/api/staff/role-assignments/route.ts
  src/app/api/staff/route.ts
  src/app/api/staff/upload/route.ts
  src/app/api/system/lint-errors/route.ts
  src/app/api/system/settings/route.ts
  src/app/api/tests/history/route.ts
  src/app/api/user/admin-update-department/route.ts
  src/app/api/user/admin-update-role/route.ts
  src/app/api/user/change-password/route.ts
  src/app/api/user/custom-theme/route.ts
  src/app/api/user/layout/route.ts
  src/app/api/user/profile/route.ts
  src/app/api/user/school/route.ts
  src/app/api/user/send-verification/route.ts
  src/app/api/user/set-password/route.ts
  src/app/api/user/switch-role/route.ts
  src/app/api/user/theme/route.ts
  src/app/api/users/[id]/route.ts
  src/app/api/users/admin-update-department/route.ts
  src/app/api/users/admin-update-role/route.ts
  src/components/meetings/AgendaItemForm.tsx
  src/components/meetings/AgendaItemsEditor.tsx
  src/components/meetings/MeetingHistoryView.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/lib/auth/auth-options.ts
Labels: frontend, backend, security, api

feat: Add database connection test debug endpoint
  src/app/api/debug/db-connection-test/route.ts
  src/middleware.ts
Labels: frontend, backend, security, api

fix: Add diagnostic for URL encoding and database connection strings
  src/app/api/debug/db-connection-test-v2/route.ts
Labels: frontend, backend, api

feat: Add database schema diagnostic endpoint
  src/app/api/debug/db-schema-check/route.ts
  src/app/api/dev/create-sample-teams/route.ts
  src/app/api/meeting-intelligence/action-items/route.ts
  src/app/api/meeting-intelligence/continuity/route.ts
  src/app/api/meeting-intelligence/role-tasks/route.ts
  src/app/api/meeting-intelligence/search/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/comments/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/tests/suites/route.ts
  src/app/api/users/[id]/route.ts
  src/components/meetings/AgendaItemsEditor.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/middleware.ts
Labels: frontend, backend, security, api

debug: Add direct authentication test endpoint
  src/app/api/debug/test-auth-direct/route.ts
  src/app/api/meeting-intelligence/continuity/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/comments/route.ts
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/app/api/staff/upload/route.ts
  src/app/api/teams/[id]/activity/route.ts
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/components/meetings/AgendaItemComments.tsx
  src/components/meetings/AgendaItemsEditor.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/middleware.ts
Labels: frontend, backend, security, api, feature

debug: Add middleware token parsing diagnostic
  src/app/api/debug/middleware-token/route.ts
  src/app/api/staff/upload/route.ts
  src/app/api/teams/[id]/activity/route.ts
  src/app/api/teams/[id]/export/route.ts
  src/app/api/teams/[id]/knowledge/[knowledgeId]/download/route.ts
  src/app/api/teams/[id]/knowledge/[knowledgeId]/route.ts
  src/components/meetings/MeetingHistoryView.tsx
  src/middleware.ts
Labels: frontend, backend, security, api

fix: Handle users without staff relation in auth-options
  src/lib/auth/auth-options.ts
Labels: backend, security

Fix authenticated user redirect from signin to dashboard
  src/middleware.ts
Labels: security

Fix forgot-password redirect for authenticated users
  src/middleware.ts
Labels: security

Add detailed env var debugging
  src/app/api/debug/db-connection-test/route.ts
Labels: frontend, backend, api

Add env vars existence check
  src/app/api/debug/db-connection-test/route.ts
Labels: frontend, backend, api

Complete authentication and database fixes
  src/app/api/dev/create-sample-teams/route.ts
  src/app/api/meeting-intelligence/continuity/route.ts
  src/app/api/teams/[id]/knowledge/[knowledgeId]/view/route.ts
  src/app/api/teams/[id]/knowledge/route.ts
  src/app/api/teams/[id]/members/route.ts
  src/app/api/teams/[id]/route.ts
  src/app/api/teams/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/tests/suites/route.ts
  src/app/api/users/[id]/route.ts
  src/app/auth/debug/page.tsx
  src/app/dashboard/admin/create-first-admin/page.tsx
  src/app/dashboard/debug-capabilities/page.tsx
  src/app/dashboard/development/permissions-check/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/meeting-intelligence/action-items/page.tsx
  src/app/dashboard/meeting-intelligence/analytics/page.tsx
  src/app/dashboard/meeting-intelligence/continuity/page.tsx
  src/app/dashboard/meeting-intelligence/page.tsx
  src/app/dashboard/meeting-intelligence/role-tasks/page.tsx
  src/app/dashboard/meeting-intelligence/search/page.tsx
  src/app/dashboard/meetings/[id]/actions.ts
  src/app/dashboard/meetings/[id]/agenda/[itemId]/page.tsx
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/app/dashboard/page-selection/page.tsx
  src/app/dashboard/settings/audit-logs/AuditLogsClient.tsx
  src/app/dashboard/settings/audit-logs/page.tsx
  src/app/dashboard/settings/audit/page.tsx
  src/app/dashboard/settings/interface/InterfaceSettingsClient.tsx
  src/app/dashboard/settings/meeting-templates/page.tsx
  src/app/dashboard/settings/permissions/page.tsx
  src/app/dashboard/settings/role-hierarchy/RoleHierarchyContent.tsx
  src/app/dashboard/settings/role-hierarchy/layout.tsx
  src/app/dashboard/settings/role-hierarchy/roles/page.tsx
  src/app/dashboard/settings/role-hierarchy/user-assignment/UserRoleAssignmentContent.tsx
  src/app/dashboard/settings/role-hierarchy/visualization/RoleHierarchyVisualizationContent.tsx
  src/components/meetings/MeetingLiveView.tsx
Labels: frontend, backend, security, api, feature, dev-tools

fix: Interface compatibility fixes - auth-utils and field-access-control
  src/lib/auth/auth-options.ts
  src/lib/auth/auth-utils.ts
  src/lib/auth/field-access-control.ts
Labels: backend, security

feat: auth-utils type conversion - UserWithCapabilities to AuthenticatedUser
  src/lib/auth/auth-utils.ts
  src/lib/auth/policy.ts
  src/lib/db-pool-manager.ts
  src/lib/prisma.ts
Labels: backend, security

feat: manual TypeScript error fixes - Zero Degradation Protocol
  next.config.mjs
  src/__tests__/components/ui/error-boundary.test.tsx
  src/__tests__/lib/db-pool-manager.test.ts
  src/__tests__/lib/env-validation-simple.test.ts
  src/__tests__/lib/env-validation.test.ts
  src/__tests__/lib/performance/bundle-optimizer.test.tsx
  src/lib/auth/auth-utils.ts
  src/lib/auth/field-access-control.ts
  src/lib/auth/field-access-middleware.ts
  src/lib/auth/policy-edge.ts
  src/lib/auth/policy.ts
  src/lib/db-pool-manager.ts
  src/lib/db/init-data.ts
  src/lib/db/init-roles.ts
  src/lib/db/init-test-data.ts
  src/lib/debug/error-tracker.ts
  src/lib/email/templates/meeting-invite.tsx
  src/lib/email/templates/password-reset.tsx
  src/lib/email/templates/team-notification.tsx
  src/lib/email/templates/verification.tsx
  src/lib/env-validation.ts
  src/lib/logging/dev-logger.ts
  src/lib/logging/index.ts
  src/lib/logging/middleware-integration.ts
  src/lib/logging/transports/database-transport.ts
  src/lib/performance/bundle-optimizer.ts
  src/lib/prisma.ts
  src/middleware.ts
Labels: backend, testing, security

Fix production login issues and edge runtime compatibility
  src/lib/auth/policy-edge.ts
  src/lib/debug/error-tracker.ts
  src/lib/logging/middleware-integration.ts
  src/lib/logging/transports/database-transport.ts
  src/lib/logging/transports/file-transport.ts
Labels: backend, security

feat: manual TypeScript fixes batch 2 - Zero Degradation Protocol
  src/lib/logging/transports/database-transport.ts
  src/lib/logging/transports/realtime-transport.ts
Labels: backend

Complete TypeScript error cleanup - 56 of 62 errors fixed (90% success rate)
  src/lib/logging/transports/database-transport.ts
  src/lib/meeting-intelligence/action-items.ts
  src/lib/meeting-intelligence/analytics.ts
  src/lib/meeting-intelligence/continuity.ts
  src/lib/meeting-intelligence/search.ts
  src/lib/middleware/audit-middleware.ts
  src/lib/middleware/rate-limit-middleware.ts
  src/lib/performance/performance-monitor.ts
  src/lib/prisma.ts
  src/lib/testing/test-generator.ts
  src/lib/utils/rate-limit-advanced.ts
  src/types/auth.ts
Labels: backend

Step 1: Remove debug logs and fix fatal error handling in middleware
  debug-public-routes.js
  middleware.ts
  src/app/api/debug/production-db-test/route.ts
  src/lib/auth/public-routes.ts
  src/lib/logging/transports/database-transport.ts
Labels: frontend, backend, security, api

Step 2-3: Remove emergency debug endpoint completely
  src/app/api/debug/production-db-test/route.ts
  src/lib/auth/public-routes.ts
  src/lib/logging/transports/database-transport.ts
Labels: frontend, backend, security, api

CRITICAL SECURITY: Complete emergency bypass cleanup
  next.config.mjs
  src/app/api/debug/auth-check/route.ts
  src/app/api/debug/db-connection-test-v2/route.ts
  src/app/api/debug/db-connection-test/route.ts
  src/app/api/debug/db-performance/route.ts
  src/app/api/debug/db-schema-check/route.ts
  src/app/api/debug/middleware-token/route.ts
  src/app/api/debug/test-auth-direct/route.ts
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/debug/user-check/route.ts
  src/app/api/dev/admin/update-password/route.ts
  src/app/api/dev/database/backup-production/route.ts
  src/app/api/dev/execute/route.ts
  src/app/api/dev/git/execute/route.ts
  src/app/api/test-login/route.ts
  src/app/api/tests/generate/route.ts
  src/app/api/tests/history/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/tests/suites/route.ts
  src/lib/auth/public-routes.ts
  src/middleware.ts
Labels: frontend, backend, security, api

Replace mock data with real analytics in Meeting Intelligence
  src/app/api/meeting-intelligence/analytics/route.ts
  src/app/dashboard/meeting-intelligence/analytics/page.tsx
  src/lib/logging/transports/database-transport.ts
Labels: frontend, backend, api, feature

FORCE COMPLETE REBUILD: Critical cache invalidation
  src/app/layout.tsx
Labels: frontend, feature

EMERGENCY: Temporarily disable ESLint for security deployment
  next.config.mjs
  src/lib/logging/transports/database-transport.ts
Labels: backend

EMERGENCY: Disable TypeScript validation for security deployment
  next.config.mjs
  src/lib/logging/transports/database-transport.ts
Labels: backend

EMERGENCY: Fix Prisma connection fallback for build
  src/lib/db-pool-manager.ts
  src/lib/logging/transports/database-transport.ts
Labels: backend

Final cleanup before merge to main
  src/lib/logging/transports/database-transport.ts
Labels: backend
