Repository hsandir/agendaiq, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, testing, documentation, configuration, ci/cd, dependencies, security, ui/ux, api, performance, feature, dev-tools

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# https://github.com/actions/labeler

# Frontend changes
frontend:
  - src/components/**/*
  - src/app/**/*
  - src/styles/**/*
  - '*.css'
  - '*.scss'

# Backend changes  
backend:
  - src/app/api/**/*
  - src/lib/**/*
  - prisma/**/*
  - src/server/**/*

# Database changes
database:
  - prisma/**/*
  - '**/migrations/**/*'

# Testing changes
testing:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - src/__tests__/**/*
  - jest.config.*
  - playwright.config.*

# Documentation changes
documentation:
  - '**/*.md'
  - docs/**/*
  - README.md
  - CONTRIBUTING.md
  - LICENSE

# Configuration changes
configuration:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - tsconfig.json
  - next.config.js
  - tailwind.config.js
  - postcss.config.js

# CI/CD changes
ci/cd:
  - .github/**/*
  - .gitlab-ci.yml
  - Dockerfile
  - docker-compose.yml

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
  - pnpm-lock.yaml

# Security changes
security:
  - src/lib/auth/**/*
  - src/middleware.ts
  - '**/auth/**/*'
  - '**/security/**/*'

# UI/UX changes
ui/ux:
  - src/components/ui/**/*
  - src/app/globals.css
  - '**/styles/**/*'

# API changes
api:
  - src/app/api/**/*
  - '**/route.ts'
  - '**/route.js'

# Performance
performance:
  - '**/*.performance.ts'
  - '**/*.perf.ts'
  - src/lib/utils/performance/**/*

# Feature additions
feature:
  - src/features/**/*
  - src/app/**/page.tsx
  - src/app/**/layout.tsx

# Bug fixes - manual label needed

# Development tools
dev-tools:
  - src/components/development/**/*
  - src/app/dashboard/development/**/*
  - scripts/**/*

Add security rules and update gitignore to protect sensitive files
  .gitignore
  CLAUDE.md
  SECURITY_RULES.md
  package-lock.json
  package.json
  scripts/test-supabase-connection.js
Labels: documentation, configuration, dependencies, dev-tools

Force deployment trigger
  README.md
Labels: documentation

Fix TypeScript build errors for Next.js 15 compatibility
  public/sw.js
  scripts/migrate-to-supabase.js
  src/app/api/meeting-intelligence/action-items/[id]/route.ts
  src/app/api/meeting-intelligence/action-items/route.ts
  src/app/api/meeting-intelligence/analytics/route.ts
  src/app/api/meeting-intelligence/continuity/route.ts
  src/app/api/meeting-intelligence/role-tasks/route.ts
  src/app/api/meeting-intelligence/search/route.ts
  src/app/api/meetings/history/route.ts
  src/app/api/tests/generate/route.ts
  src/app/api/tests/history/route.ts
  src/app/api/tests/run/route.ts
  src/app/api/tests/suites/route.ts
  src/app/api/user/theme/route.ts
  src/app/dashboard/design-system-demo/page3.tsx
  src/app/dashboard/development/page.tsx
  src/app/dashboard/meeting-intelligence/page.tsx
  src/app/dashboard/meetings/[id]/agenda/page.tsx
  src/app/dashboard/tests/page.tsx
  src/lib/pusher.ts
  vercel.json
Labels: frontend, backend, configuration, api, feature, dev-tools

Fix remaining TypeScript errors for router.push and searchParams
  public/sw.js
  src/app/auth/signup/page.tsx
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/app/dashboard/system/health/page.tsx
  src/app/dashboard/system/page.tsx
  src/components/auth/RegisterForm.tsx
  src/components/auth/SignInForm.tsx
  src/components/auth/TwoFactorSetup.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/auth/two-factor-form.tsx
  src/components/auth/withAuth.tsx
  src/components/meetings/AgendaItemDetail.tsx
  src/components/meetings/MeetingForm.tsx
  src/components/meetings/MeetingFormStep1.tsx
  src/components/meetings/MeetingFormStep2.tsx
  src/components/setup/DistrictSetup.tsx
  src/hooks/useAuth.ts
Labels: frontend, security, feature

Fix remaining TypeScript errors in development components
  public/sw.js
  src/components/dashboard/Sidebar.tsx
  src/components/development/api-tester.tsx
Labels: frontend, dev-tools

Fix TypeScript build errors for Next.js 15 compatibility
  docker-compose.yml
  docs/TEST_DB_SETUP.md
  package.json
  public/sw.js
  src/app/page.tsx
  src/components/auth/AuthProvider.tsx
  src/components/dashboard/HiddenSidebar.tsx
  src/components/dashboard/Sidebar.tsx
  src/components/dashboard/SidebarWrapper.tsx
  src/components/development/api-tester.tsx
  src/components/development/autofix-modal.tsx
  src/components/development/ci-cd-monitor.tsx
  src/components/development/database-manager.tsx
  src/components/development/log-viewer.tsx
  src/components/development/performance-monitor.tsx
  src/components/development/test-dashboard.tsx
  src/components/meetings/MeetingFormStep1.tsx
  src/components/settings/RolesPageClient.tsx
  src/components/ui/back-link.tsx
  src/hooks/usePusher.ts
  src/lib/meeting-intelligence/continuity.ts
  src/lib/meeting-intelligence/role-based.ts
  src/lib/sentry/sentry-utils.ts
  src/lib/testing/test-generator.ts
  test-utils/global-setup.ts
  tsconfig.json
Labels: frontend, backend, documentation, configuration, ci/cd, dependencies, security, ui/ux, feature, dev-tools

Add simple debug endpoint without dependencies - Created /api/debug/simple for basic connectivity testing - No database or authentication dependencies - Pure function test for troubleshooting
  src/app/api/debug/simple/route.ts
Labels: frontend, backend, api

Create comprehensive local monitoring system
  src/app/api/monitoring/production-errors/route.ts
  src/app/dashboard/layout.tsx
  src/app/dashboard/monitoring/page.tsx
  src/app/globals.css
  src/components/dashboard/SidebarWrapper.tsx
  src/components/layout/SidebarItems.ts
  src/components/monitoring/live-monitor.tsx
  src/components/theme/theme-selector.tsx
  src/lib/theme/theme-provider.tsx
  src/lib/theme/themes.ts
Labels: frontend, backend, ui/ux, api, feature

Fix admin account selection circular dependency
  src/app/api/auth/admin-users/route.ts
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/components/layout/DynamicLayoutWrapper.tsx
  src/components/layout/LayoutSelector.tsx
  src/lib/layout/layout-provider.tsx
  src/lib/layout/layout-types.ts
Labels: frontend, backend, security, api, feature

Fix TypeScript errors and complete RBAC system implementation
  public/sw.js
  src/app/dashboard/settings/audit-logs/page.tsx
  src/lib/auth/api-auth.ts
  src/lib/auth/auth-options.ts
  src/lib/auth/field-access-control.ts
Labels: frontend, backend, security, feature

Complete comprehensive RBAC implementation with placeholder component restoration
  public/sw.js
  src/app/api/system/health/route.ts
  src/app/dashboard/monitoring/monitoring-client.tsx
  src/app/dashboard/monitoring/page.tsx
  src/app/dashboard/system/health/client.tsx
Labels: frontend, backend, api, feature

Fix admin access issues and restore monitoring page
  package-lock.json
  package.json
  scripts/check-admins.js
  scripts/test-all-pages.js
  src/app/api/dev/database/seed-dev/route.ts
  src/app/api/system/backup/route.ts
  src/app/dashboard/settings/monitoring/page.tsx
Labels: frontend, backend, configuration, dependencies, api, feature, dev-tools

RBAC Phase 1: Completed P0 priorities - Fixed JWT capabilities, secured dev endpoints, expanded API policy coverage
  scripts/test-admin-access.js
  src/app/api/meetings/route.ts
  src/app/dashboard/meetings/[id]/agenda/[itemId]/page.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/app/dashboard/meetings/[id]/page.tsx
  src/lib/auth/api-auth.ts
  src/lib/auth/auth-options.ts
  src/lib/auth/auth-utils.ts
  src/lib/auth/policy.ts
  src/middleware.ts
Labels: frontend, backend, security, api, feature, dev-tools

RBAC Phase 2: Completed P1 priorities - Removed all legacy Administrator title checks, migrated all APIs to capability-based authorization (requireOpsAdmin/requireDevAdmin)
  public/sw.js
  src/app/api/admin/audit-logs/export/route.ts
  src/app/api/admin/audit-logs/high-risk/route.ts
  src/app/api/admin/audit-logs/route.ts
  src/app/api/admin/audit-logs/summary/route.ts
  src/app/api/admin/rate-limits/route.ts
  src/app/api/admin/roles/route.ts
  src/app/api/auth/admin-users/route.ts
  src/app/api/auth/create-admin/route.ts
  src/app/api/dev/database/backups/route.ts
  src/app/api/meeting-templates/[id]/route.ts
  src/app/api/meeting-templates/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/attachments/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/comments/route.ts
  src/app/api/meetings/[id]/agenda-items/[itemId]/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/api/meetings/search/route.ts
  src/app/api/monitoring/production-errors-admin/route.ts
  src/app/api/roles/department-assignments/route.ts
  src/app/api/roles/route.ts
  src/app/api/school/route.ts
  src/app/api/system/alerts/route.ts
  src/app/api/system/backup/route.ts
  src/app/api/system/diagnostic/route.ts
  src/app/api/system/lint/route.ts
  src/app/api/system/server/route.ts
  src/app/api/system/settings/route.ts
  src/app/api/tests/generate/route.ts
  src/app/api/user/admin-update-department/route.ts
  src/app/api/user/admin-update-role/route.ts
Labels: frontend, backend, security, api

RBAC Implementation Complete: Fixed admin role assignments, verified all access patterns, comprehensive testing passed
  scripts/fix-admin-roles.js
  scripts/test-comprehensive-access.js
  src/app/api/setup/init/route.ts
Labels: frontend, backend, api, dev-tools

Fix isAdmin undefined error in meeting pages - Updated meeting live and agenda pages to use hasAdminAccess variable
  src/app/dashboard/meetings/[id]/agenda/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/lib/auth/admin-check.ts
Labels: frontend, backend, security, feature

Fix Pusher channel.trigger error - Replace trigger with whisper for client-side events in AgendaItemLive component
  src/components/meetings/AgendaItemLive.tsx
Labels: frontend

Fix multiple meeting interface issues - Auto-expand agenda items on edit, fix meeting navigation from calendar, show comments after adding, replace Pusher trigger with whisper
  src/components/meetings/AgendaItemLive.tsx
  src/components/meetings/MeetingCalendar.tsx
Labels: frontend

Add comprehensive agenda item fields - Purpose, Solution Type, Decision Type, Future Implications, and Assign to Local workflow with meeting creation option
  src/components/meetings/AgendaItemLive.tsx
Labels: frontend

Add Create Meeting Modal for Assign to Local workflow - Modal-based meeting creation instead of page navigation
  package-lock.json
  package.json
  src/app/dashboard/DashboardLayoutClient.tsx
  src/app/layout.tsx
  src/components/meetings/AgendaItemLive.tsx
  src/components/meetings/CreateMeetingModal.tsx
  src/components/ui/calendar.tsx
  src/lib/theme/theme-provider.tsx
  src/lib/theme/themes.ts
Labels: frontend, backend, configuration, dependencies, ui/ux, feature

Backup before test infrastructure setup - Security fixes completed, middleware chain fixed, rate-limit and audit middleware now return null properly
  SECURITY_ENV_ROTATION.md
  SECURITY_TESTING_POLICY.md
  docs/AUTH-ROADMAP.md
  docs/OAUTH-PLAN.md
  docs/POST-IMPLEMENTATION-CHECKLIST.md
  docs/TEST-PLAN.md
  src/lib/auth/auth-options.ts
  src/lib/middleware/audit-middleware.ts
  src/lib/middleware/rate-limit-middleware.ts
  src/middleware.ts
Labels: backend, documentation, security

Add comprehensive test infrastructure and Google OAuth with PrismaAdapter
  docs/TICKETS-REPORT.md
  package-lock.json
  package.json
  src/__tests__/e2e/auth-flow.e2e.test.ts
  src/__tests__/integration/auth/auth-flow.test.ts
  src/__tests__/unit/auth/policy.test.ts
  src/lib/auth/auth-options.ts
Labels: backend, testing, documentation, configuration, dependencies, security

Fix build errors and consolidate Next.js configuration
  next.config.mjs
  package-lock.json
  package.json
  public/sw.js
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/components/meetings/AgendaItemLive.tsx
Labels: frontend, configuration, dependencies, feature

Fix Vercel deployment errors
  src/app/api/github/runs/route.ts
  src/app/api/github/webhook/route.ts
  src/app/api/github/workflows/route.ts
  src/app/dashboard/DashboardLayoutClient.tsx
  src/app/globals.css
Labels: frontend, backend, ui/ux, api

Fix additional Vercel deployment errors
  src/app/dashboard/system/page.tsx
  src/app/globals.css
Labels: frontend, ui/ux, feature

Add security documentation and environment template
  SECURITY.md
  env.example.secure
Labels: documentation

Fix authentication flow and add comprehensive testing infrastructure
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .husky/pre-push
  TESTING_GUIDE.md
  TEST_INFRASTRUCTURE_SUMMARY.md
  backups/supabase/2025-08-09/backup_1754769572277.json
  backups/supabase/2025-08-09/summary.json
  package-lock.json
  package.json
  prisma/supabase-backup.prisma
  scripts/backup-supabase.js
  scripts/cleanup-supabase-test-data.js
  scripts/restore-admins.js
  scripts/run-tests.js
  scripts/sync-to-supabase.js
  scripts/test-auth.js
  scripts/test-production.js
  scripts/verify-supabase.js
  src/__tests__/unit/components/SignInForm.test.tsx
  src/app/api/dev/ci-cd/runs/route.ts
  src/app/auth/signin/page.tsx
  src/app/auth/signin/signin.css
  src/components/auth/SignInForm.tsx
  src/components/development/ci-cd-monitor.tsx
  tests/e2e/auth.spec.ts
  tests/integration/auth-api.test.ts
Labels: frontend, backend, database, testing, documentation, configuration, ci/cd, dependencies, security, api, feature, dev-tools

Fix authentication flow and implement secure monitoring endpoint
  scripts/comprehensive-local-test.js
  scripts/comprehensive-production-test.js
  scripts/diagnose-production.js
  scripts/monitor-production.js
  src/app/api/auth/check-first-user/route.ts
  src/app/api/auth/create-first-admin/route.ts
  src/app/api/debug/auth-check/route.ts
  src/app/api/monitoring/health/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/app/api/monitoring/uptime/route.ts
  src/app/auth/signin/page.tsx
  src/app/dashboard/admin/create-first-admin/page.tsx
  src/app/dashboard/settings/setup/page.tsx
  src/components/admin/CreateFirstAdminForm.tsx
  src/components/auth/SignInForm.tsx
  src/components/monitoring/WebVitalsReporter.tsx
  src/middleware.ts
Labels: frontend, backend, security, api, feature, dev-tools

Add production test scaffolding
  tests/test-production/accessibility.spec.ts
  tests/test-production/api-health.test.ts
  tests/test-production/data-integrity.test.ts
  tests/test-production/monitoring.test.ts
  tests/test-production/performance.spec.ts
  tests/test-production/playwright.config.ts
  tests/test-production/regression.spec.ts
  tests/test-production/security.test.ts
  tests/test-production/smoke.spec.ts
Labels: testing

Backup before fixing component tests, logging system and accessibility test configuration - All test issues resolved, role priorities fixed, ARIA attributes added
  package-lock.json
  package.json
  scripts/fix-role-priorities.js
  scripts/test-accessibility.js
  scripts/test-data-integrity.js
  scripts/test-monitoring.js
  scripts/test-regression.js
  src/app/auth/signin/page.tsx
  src/app/dashboard/DashboardLayoutClient.tsx
  src/app/dashboard/settings/interface/InterfaceSettingsClient.tsx
  src/app/layout.tsx
  src/components/auth/SignInForm.tsx
  src/components/dashboard/CustomThemeEditor.tsx
  src/components/dashboard/MobileMenu.tsx
  src/components/dashboard/Sidebar.tsx
  src/lib/theme/themes.ts
Labels: frontend, backend, configuration, dependencies, security, feature, dev-tools

Fix test issues and configure high-contrast theme for accessibility testing
  scripts/test-accessibility.js
  scripts/test-data-integrity.js
  scripts/test-logging-system.js
  src/__tests__/integration/auth/auth-flow.test.ts
  src/__tests__/unit/components/SignInForm.test.tsx
  src/__tests__/unit/middleware/middleware-chain.test.ts
  src/__tests__/unit/utils/safe-date.test.ts
  src/components/dashboard/CustomThemeEditor.tsx
Labels: frontend, testing, security, dev-tools

Implement 2FA support and remove isFirstTimeSetup from signin
  src/__tests__/unit/components/SignInForm.test.tsx
  src/app/auth/signin/page.tsx
  src/components/auth/SignInForm.tsx
Labels: frontend, testing, security, feature

Fix test errors following user requirements (no mock data, real tests only)
  jest.setup.js
  src/__tests__/integration/auth/auth-flow.test.ts
  src/__tests__/unit/components/SignInForm.test.tsx
  src/__tests__/unit/middleware/middleware-chain.test.ts
  src/app/api/user/custom-theme/route.ts
  src/app/dashboard/DashboardLayoutClient.tsx
  src/lib/theme/theme-provider.tsx
Labels: frontend, backend, testing, security, api

Add centralized monitoring manager and client initialization
  src/lib/monitoring/index.ts
  src/lib/monitoring/init-client.ts
Labels: backend

Add CI/CD Pipeline menu and fix lint errors
  src/__tests__/types/factory.types.ts
  src/app/not-found.tsx
  src/components/layout/SidebarItems.ts
Labels: frontend, testing

Fix Sentry API compatibility issues and runtime errors
  .env.example
  src/lib/audit/edge-audit-logger.ts
  src/lib/monitoring/config.ts
  src/lib/monitoring/providers/sentry.ts
  src/lib/performance/performance-monitor.ts
Labels: backend, configuration

Fix Sentry checkInId type error for production build
  src/lib/monitoring/providers/sentry.ts
Labels: backend

Fix performance monitor type errors for production build
  src/lib/performance/performance-monitor.ts
Labels: backend

Fix theme provider type error for production build
  src/lib/theme/theme-provider.tsx
Labels: backend

Remove lightweight auth system and fix performance issues
  src/app/api/user/custom-theme/route.ts
  src/app/api/user/layout/route.ts
  src/app/api/user/theme/route.ts
  src/lib/auth/auth-utils-lite.ts
  test-api-performance.js
Labels: frontend, backend, security, api
