Repository hsandir/agendaiq, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, testing, documentation, configuration, ci/cd, dependencies, security, ui/ux, api, performance, feature, dev-tools

.github/labeler.yml:

# Configuration for GitHub Labeler Action
# https://github.com/actions/labeler

# Frontend changes
frontend:
  - src/components/**/*
  - src/app/**/*
  - src/styles/**/*
  - '*.css'
  - '*.scss'

# Backend changes  
backend:
  - src/app/api/**/*
  - src/lib/**/*
  - prisma/**/*
  - src/server/**/*

# Database changes
database:
  - prisma/**/*
  - '**/migrations/**/*'

# Testing changes
testing:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - src/__tests__/**/*
  - jest.config.*
  - playwright.config.*

# Documentation changes
documentation:
  - '**/*.md'
  - docs/**/*
  - README.md
  - CONTRIBUTING.md
  - LICENSE

# Configuration changes
configuration:
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.env*'
  - tsconfig.json
  - next.config.js
  - tailwind.config.js
  - postcss.config.js

# CI/CD changes
ci/cd:
  - .github/**/*
  - .gitlab-ci.yml
  - Dockerfile
  - docker-compose.yml

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
  - pnpm-lock.yaml

# Security changes
security:
  - src/lib/auth/**/*
  - src/middleware.ts
  - '**/auth/**/*'
  - '**/security/**/*'

# UI/UX changes
ui/ux:
  - src/components/ui/**/*
  - src/app/globals.css
  - '**/styles/**/*'

# API changes
api:
  - src/app/api/**/*
  - '**/route.ts'
  - '**/route.js'

# Performance
performance:
  - '**/*.performance.ts'
  - '**/*.perf.ts'
  - src/lib/utils/performance/**/*

# Feature additions
feature:
  - src/features/**/*
  - src/app/**/page.tsx
  - src/app/**/layout.tsx

# Bug fixes - manual label needed

# Development tools
dev-tools:
  - src/components/development/**/*
  - src/app/dashboard/development/**/*
  - scripts/**/*

auth: secure admin/roles/init (ROLE_MANAGE); dev/execute (DEV_DEBUG); district/setup (DEV_UPDATE); system/{fix,error-fix} (DEV_FIX); test-login,test-sentry (DEV_DEBUG)
  src/app/api/admin/roles/init/route.ts
  src/app/api/dev/execute/route.ts
  src/app/api/district/setup/route.ts
  src/app/api/system/error-fix/route.ts
  src/app/api/system/fix/route.ts
  src/app/api/test-login/route.ts
  src/app/api/test-sentry/route.ts
Labels: frontend, backend, api

auth(user): secure 2fa setup/verify, change-password with withAuth; switch to capability/session via withAuth
  src/app/api/user/2fa/setup/route.ts
  src/app/api/user/2fa/verify/route.ts
  src/app/api/user/change-password/route.ts
  validation-server/server.js
Labels: frontend, backend, api

auth(user): add withAuth to remaining user endpoints (custom-theme, layout-fast, enable-2fa, revoke-all-sessions, revoke-device, school, send-verification, set-password)
  src/app/api/user/custom-theme/route.ts
  src/app/api/user/enable-2fa/route.ts
  src/app/api/user/layout-fast/route.ts
  src/app/api/user/revoke-all-sessions/route.ts
  src/app/api/user/revoke-device/route.ts
  src/app/api/user/school/route.ts
  src/app/api/user/send-verification/route.ts
  src/app/api/user/set-password/route.ts
Labels: frontend, backend, api

auth(user): standardize withAuth on remaining user preference endpoints (disable-2fa, toggles, theme-fast, switch-role)
  src/app/api/user/disable-2fa/route.ts
  src/app/api/user/switch-role/route.ts
  src/app/api/user/theme-fast/route.ts
  src/app/api/user/toggle-login-notifications/route.ts
  src/app/api/user/toggle-remember-devices/route.ts
  src/app/api/user/toggle-suspicious-alerts/route.ts
Labels: frontend, backend, api

auth(setup): protect setup/check with withAuth (requireAuth=true)
  src/app/api/setup/check/route.ts
Labels: frontend, backend, api

auth(tests): protect tests/history GET with withAuth + DEV_DEBUG; remove simulated data
  src/app/api/tests/history/route.ts
Labels: frontend, backend, api

auth(monitoring): secure monitoring/health GET with withAuth + OPS_MONITORING
  src/app/api/monitoring/health/route.ts
Labels: frontend, backend, api

auth(pages): add requireAuth to debug-capabilities; remove RoleID usage from permissions page
  src/app/dashboard/debug-capabilities/page.tsx
  src/app/dashboard/settings/permissions/page.tsx
Labels: frontend, feature

auth(pages): add ServerAuthWrapper layouts for debug, development/permissions-check, meeting-intelligence (action-items, analytics, continuity)
  src/app/dashboard/debug/layout.tsx
  src/app/dashboard/development/permissions-check/layout.tsx
  src/app/dashboard/meeting-intelligence/action-items/layout.tsx
  src/app/dashboard/meeting-intelligence/analytics/layout.tsx
  src/app/dashboard/meeting-intelligence/continuity/layout.tsx
Labels: frontend, feature, dev-tools

auth(pages): add ServerAuthWrapper layouts for meeting-intelligence/role-tasks and page-selection
  src/app/dashboard/meeting-intelligence/role-tasks/layout.tsx
  src/app/dashboard/page-selection/layout.tsx
Labels: frontend, feature

auth(ui): replace RoleID check with isRole(RoleKey.OPS_ADMIN) in audit logs client; add page auth layouts for flagged pages
  src/app/dashboard/settings/audit-logs/AuditLogsClient.tsx
Labels: frontend

auth(pages): guard setup/district with requireAuth + isRole(OPS_ADMIN|DEV_ADMIN); remove role.title check
  src/app/setup/district/page.tsx
  src/lib/auth/admin-check.ts
  validation-server/server.js
Labels: frontend, backend, security, feature

analytics(posthog): stop sending role.title; send roleKey only
  src/lib/posthog/posthog-utils.ts
Labels: backend

auth(cleanup): remove role.title/priority usage in API responses and auth-utils (use role.key or neutral labels)
  src/app/api/meeting-intelligence/action-items/route.ts
  src/app/api/meeting-intelligence/role-tasks/route.ts
  src/app/api/meetings/route.ts
  src/lib/auth/auth-utils.ts
Labels: frontend, backend, security, api

auth: purge role.title/priority usage across roles/staff upload/UI; JWT/session now use role.key only
  src/app/api/roles/department-assignments/route.ts
  src/app/api/roles/hierarchy/route.ts
  src/app/api/roles/route.ts
  src/app/api/staff/upload/route.ts
  src/app/dashboard/meeting-intelligence/action-items/page.tsx
  src/app/dashboard/meeting-intelligence/role-tasks/page.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/lib/auth/auth-options.ts
  src/lib/meeting-intelligence/analytics.ts
  src/types/auth.ts
Labels: frontend, backend, security, api, feature

auth(ui): stop rendering role.title in Meeting Intelligence pages; use neutral label from role.key
  src/app/api/meeting-intelligence/action-items/route.ts
  src/app/api/meeting-intelligence/role-tasks/route.ts
  src/app/dashboard/meeting-intelligence/action-items/page.tsx
  src/app/dashboard/meeting-intelligence/role-tasks/page.tsx
Labels: frontend, backend, api, feature

auth(ui): replace last title reference with label in action-items page
  src/app/dashboard/meeting-intelligence/action-items/page.tsx
Labels: frontend, feature

Fix build errors and auth system issues
  src/app/dashboard/page-selection/layout.tsx
  src/hooks/useAuthorization.ts
  src/middleware.ts
Labels: frontend, security, feature

Fix CI/CD pipeline failures
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
  src/__tests__/unit/auth/policy.test.ts
Labels: testing, ci/cd, security

Fix TypeScript syntax errors
  src/lib/icons/generate-pwa-icons.ts
  src/lib/monitoring/config.ts
  src/lib/security/dynamic-menu.ts
Labels: backend, security

Fix critical production issues
  src/app/dashboard/meeting-intelligence/page.tsx
  src/app/dashboard/meetings/[id]/agenda/page.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/app/dashboard/meetings/[id]/page.tsx
  src/app/dashboard/settings/audit-logs/AuditLogsClient.tsx
  src/app/dashboard/settings/audit-logs/page.tsx
  src/lib/auth/policy.ts
Labels: frontend, backend, security, feature

Fix additional critical production issues
  src/app/api/meetings/[id]/agenda-items/[itemId]/route.ts
  src/app/dashboard/meetings/[id]/agenda/[itemId]/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
Labels: frontend, backend, api, feature

Complete database snake_case standardization
  .env.example
  add-label-column.sql
  prisma/migrations/20250823_add_missing_columns/migration.sql
  prisma/migrations/20250823_add_teams_safe/migration.sql
  prisma/migrations/standardize_snake_case/01_rename_tables.sql
  prisma/migrations/standardize_snake_case/02_rename_columns.sql
  prisma/migrations/standardize_snake_case/03_rollback.sql
  prisma/migrations/standardize_snake_case/04_verify.sql
  prisma/migrations/standardize_snake_case/run_migration.sh
  prisma/safe-standardization.sql
  prisma/schema.prisma
  prisma/standardize-table-names.prisma
  prisma/table-rename-migration.sql
  prisma/teams-models.prisma
  src/__tests__/templates/integration.template.ts
  src/components/dashboard/Header.tsx
  src/components/features/safe-feature.tsx
  src/components/settings/ProfileForm.tsx
  src/lib/features/feature-flags.ts
  supabase-migration-fix.sql
  verify-migration.sql
Labels: frontend, backend, database, testing, configuration

Fix meeting agenda authorization for admin users
  src/__tests__/api/comprehensive-api.test.ts
  src/__tests__/templates/integration.template.ts
  src/app/api/devices/route.ts
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/app/api/tests/run/route.ts
  src/components/dashboard/Header.tsx
  src/components/monitoring/PostHogAnalytics.tsx
  src/components/settings/ProfileForm.tsx
  src/components/settings/SecuritySettings.tsx
  src/lib/auth.ts
  src/lib/auth/policy.ts
  tsconfig.json
Labels: frontend, backend, testing, configuration, security, api

Add debug logging for meeting agenda authorization issue
  src/__tests__/api/comprehensive-api.test.ts
  src/__tests__/fixtures/factory.ts
  src/__tests__/templates/integration.template.ts
  src/app/api/dev/git/branches/route.ts
  src/app/api/dev/git/execute/route.ts
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/middleware.ts
  src/types/auth.ts
  src/types/meeting.ts
Labels: frontend, backend, testing, security, api

Fix Prisma 7 migration warning and add auth debugging
  archive/backup-teams-phase1-20250823-171651/feature-flags.ts
  archive/backup-teams-phase1-20250823-171651/schema.prisma
  archive/backup-teams-phase1-20250823-171651/teams/TeamCard.tsx
  archive/backup-teams-phase1-20250823-171651/teams/TeamList.tsx
  archive/backup-teams-phase1-20250823-171651/teams/[id]/members/route.ts
  archive/backup-teams-phase1-20250823-171651/teams/route.ts
  package.json
  prisma.config.ts
  scripts/create-test-user.mjs
  src/app/api/teams/[id]/members/route.ts
  src/app/api/teams/route.ts
  src/app/dashboard/teams/[id]/page.tsx
  src/app/dashboard/teams/page.tsx
  src/components/layout/SidebarItems.ts
  src/components/teams/CreateTeamDialog.tsx
  src/components/teams/TeamCard.tsx
  src/components/teams/TeamList.tsx
  src/lib/auth/auth-options.ts
Labels: frontend, backend, configuration, dependencies, security, api, feature, dev-tools

Fix Prisma config file format
  prisma.config.js
Labels: none

Keep Prisma config in package.json for now
  package.json
  prisma.config.js
Labels: configuration, dependencies

Fix Permissions relation usage and schema inconsistencies
  prisma/schema.prisma
  src/app/api/debug/user-capabilities/route.ts
  src/app/api/teams/[id]/knowledge/route.ts
  src/app/dashboard/debug-capabilities/page.tsx
  src/components/teams/TeamKnowledge.tsx
  src/lib/auth/auth-options.ts
  src/lib/auth/auth-utils.ts
  src/lib/auth/policy.ts
Labels: frontend, backend, database, security, api, feature

backup: Create critical migration backups before Supabase schema update
  migration_backups/20250825_032631/LOCAL_agendaiq_backup.sql
  migration_backups/20250825_032631/SUPABASE_postgres_backup.sql
  migration_backups/20250825_032631/SUPABASE_schema_check.txt
  migration_backups/20250825_032631/supabase_database_backup.sql
  src/__tests__/api/monitoring/pipelines.test.ts
  src/__tests__/fixtures/factory.ts
  src/__tests__/integration/meeting-creation.test.ts
  src/app/api/meeting-intelligence/action-items/route.ts
  src/app/api/meeting-intelligence/analytics/route.ts
  src/app/api/meeting-intelligence/continuity/route.ts
  src/app/api/meeting-intelligence/search/route.ts
  src/app/api/meetings/history/route.ts
  src/app/api/system/database/route.ts
  src/app/dashboard/meetings/[id]/agenda/page.tsx
  src/app/dashboard/meetings/[id]/edit/page.tsx
  src/app/dashboard/meetings/[id]/live/page.tsx
  src/app/dashboard/page.tsx
  src/components/meetings/AgendaItemDetail.tsx
  src/components/meetings/AgendaItemLive.tsx
  src/components/meetings/AgendaItemsEditor.tsx
  src/components/meetings/MeetingFormStep1.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/components/teams/CreateTeamDialog.tsx
  src/lib/audit/hybrid-audit-system.ts
  src/lib/meeting-intelligence/action-items.ts
  src/lib/meeting-intelligence/analytics.ts
  src/lib/meeting-intelligence/continuity.ts
  src/lib/meeting-intelligence/role-based.ts
  src/lib/meeting-intelligence/search.ts
Labels: frontend, backend, testing, api, feature

feat: Complete Supabase database migration to snake_case schema
  migration_backups/20250825_032631/LOCAL_schema_only.sql
  migration_backups/20250825_032631/LOCAL_tables_list.txt
  migration_backups/20250825_032631/supabase_migration.sql
  migration_backups/20250825_032631/supabase_migration_remaining.sql
  migration_backups/20250825_032631/system_settings_schema.txt
  migration_backups/20250825_032631/team_knowledge_views_schema.txt
  src/__tests__/integration/meeting-creation.test.ts
  src/__tests__/unit/api/meetings-crud.test.ts
  src/app/api/meeting-intelligence/role-tasks/route.ts
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/app/api/meetings/[id]/route.ts
  src/app/dashboard/meetings/[id]/agenda/[itemId]/page.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/lib/meeting-intelligence/action-items.ts
  src/lib/meeting-intelligence/analytics.ts
  src/lib/meeting-intelligence/continuity.ts
  src/lib/meeting-intelligence/role-based.ts
  src/lib/meeting-intelligence/search.ts
Labels: frontend, backend, testing, api, feature

security: Remove sensitive migration files from git tracking
  .gitignore
  migration_backups/20250825_032631/LOCAL_agendaiq_backup.sql
  migration_backups/20250825_032631/LOCAL_schema_only.sql
  migration_backups/20250825_032631/LOCAL_tables_list.txt
  migration_backups/20250825_032631/SUPABASE_postgres_backup.sql
  migration_backups/20250825_032631/SUPABASE_schema_check.txt
  migration_backups/20250825_032631/supabase_database_backup.sql
  migration_backups/20250825_032631/supabase_migration.sql
  migration_backups/20250825_032631/supabase_migration_remaining.sql
  migration_backups/20250825_032631/system_settings_schema.txt
  migration_backups/20250825_032631/team_knowledge_views_schema.txt
Labels: none

feat: Complete comprehensive fixes for database relations, TypeScript errors, and performance optimization
  .husky/pre-commit
  src/app/api/meetings/[id]/agenda-items/route.ts
  src/app/api/teams/[id]/activity/route.ts
  src/app/api/teams/[id]/knowledge/route.ts
  src/app/dashboard/meetings/[id]/edit/MeetingEditForm.tsx
  src/components/meetings/AgendaItemLive.tsx
  src/components/meetings/AgendaItemsEditor.tsx
  src/components/meetings/MeetingLiveView.tsx
  src/components/teams/AddMemberDialog.tsx
  src/components/ui/multi-select.tsx
Labels: frontend, backend, ui/ux, api

fix: Use dynamic imports for email templates to resolve build issues
  src/lib/email/service.ts
Labels: backend

fix: Add .tsx extensions to dynamic email template imports
  src/app/api/admin/audit-logs/export/route.ts
  src/app/api/admin/audit-logs/high-risk/route.ts
  src/app/api/admin/audit-logs/route.ts
  src/app/api/admin/audit-logs/summary/route.ts
  src/app/globals.css
  src/components/teams/AddMemberDialog.tsx
  src/components/ui/multi-select.tsx
  src/lib/email/service.ts
Labels: frontend, backend, ui/ux, api

fix: Temporarily disable complex email templates for production build
  src/lib/email/service.ts
Labels: backend

fix: Correct property access syntax in session callback
  src/lib/auth/auth-options.ts
Labels: backend, security

fix: Final syntax error corrections
  interface-semicolon-fix.js
  src/app/api/admin/audit-logs/export/route.ts
  src/app/api/admin/audit-logs/high-risk/route.ts
  src/components/development/git-operations.tsx
  src/components/development/test-dashboard.tsx
  src/components/meetings/RepeatMeetingModal.tsx
  src/components/teams/CreateTeamDialog.tsx
  src/lib/monitoring/error-analyzer.ts
  src/lib/theme/theme-provider.tsx
Labels: frontend, backend, api, dev-tools

fix: JSX and TypeScript syntax errors resolved by agent
  quick-semicolon-fix.js
  src/app/api/admin/audit-logs/high-risk/route.ts
  src/components/development/git-operations.tsx
  src/components/development/test-dashboard.tsx
  src/components/meetings/RepeatMeetingModal.tsx
  src/components/teams/CreateTeamDialog.tsx
  src/lib/auth/policy.ts
  src/lib/theme/theme-provider.tsx
Labels: frontend, backend, security, api, dev-tools

Fix homepage authentication causing 401 on public routes
  src/app/page.tsx
Labels: frontend, feature
